@charset "UTF-8";

body {
            background-color: lightgrey;
            background-size: cover;
            background-repeat: no-repeat;
            background-attachment: fixed;
            margin: auto;
            width: 100%;

        }

.endereco {
    display: flex;
    align-items: center;
    margin: 0px 0;
    color: rgb(170, 158, 48);
    
}
#end{
    margin: 0px 5px 0px 0px;
}